<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>撩课-后台管理系统</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="js/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery/dist/jquery.js"></script>
    <script src="js/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/base.js"></script>
</head>
<body>
<!-- 管理系统头部 -->
<div class="header">
    <nav class="navbar navbar-custom">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">英雄列表</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:;"><i class="fa fa-sign-out"></i>退出</a></li>
        </ul>
    </nav>
</div>
<!-- 主体 -->
<div class="main">
    <!-- 侧边栏 -->
    <div class="aside">
        <!-- 个人资料 -->
        <div class="profile">
            <!-- 头像 -->
            <div class="avatar img-circle">
                <img src="./images/avatar.png">
            </div>
            <h4>itlike</h4>
        </div>
        <!-- 导航菜单 -->
        <div class="navs">
            <ul class="list-unstyled">
                <li>
                    <a href="./index.html">
                        <i class="fa fa-user"></i>
                        英雄列表
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <!-- 客户列表 -->
        <div class="body">
            <!-- 面包屑 -->
            <ol class="breadcrumb" >
                <li><a href="javascript:;">英雄管理</a></li>
                <li class="active">英雄列表</li>
            </ol>
            <div class="panel panel-default user-list">
                <div class="panel-body">
                    <a href="add.html" class="btn btn-primary">添加英雄</a>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr style="height: 50px">
                        <th>英雄名称</th>
                        <th>职业</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>上线时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>
                            <a src="javascript:;" data-toggle="modal" data-target="#lesson" class="btn btn-danger btn-sm">
                                编辑
                            </a>
                            <a href="javascript:;" class="btn btn-warning btn-sm">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- 模态框 添加课程 -->
<div class="modal fade" id="lesson">
    <div class="modal-dialog" style="width: 800px;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">添加英雄</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-md-2 control-label">名称</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-2 control-label">职业</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-2 control-label">电话</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-2 control-label">邮箱</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-2 control-label">上线日期</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link btn-sm" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger btn-sm"> 添 加 </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
