<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyHello</title>
</head>
<body>
    <h1 th:text="${name}">MyHello</h1>
    <hr>
    <p>
        <ul>
            <li th:text="${hero.id}"></li>
            <li th:text="${hero.username}"></li>
            <li th:text="${hero.phone}"></li>
            <li th:text="${hero.email}"></li>
        </ul>
    </p>
    <hr>
    <p>
        <ul th:object="${hero}">
            <li th:text="*{id}"></li>
            <li th:text="*{username}"></li>
            <li th:text="*{phone}"></li>
            <li th:text="*{email}"></li>
        </ul>
    </p>
    <hr>
    <p>
        <a th:href="@{http://qiangssvip.com}">博客</a>
        <img th:src="@{/logo.png}">
    </p>
    <hr>
    <p>
        <a th:href="@{/hello(id=1,action='gx')}">跳转传参</a>
    </p>
    <hr>
    <p th:text="${'hello' + hero.username}"></p>
    <p th:text="${1+2}"></p>
    <p th:text="${true}"></p>
    <p th:text="${true == false}"></p>
    <p th:text="'Hello' + ${hero.username}"></p>
    <p th:text="|哈罗${hero.username}|"></p>
    <hr>
    <div>
        <ul>
            <li>算数运算符+ - * / %
                <p th:text="1+1"></p>
                <p th:text="17 % 5 - 2"></p>
            </li>
            <li>比较运算符 大于、小于、大于等于、小于等于
                <p th:text="1 gt 2"></p>
                <p th:text="1 lt 2"></p>
                <p th:text="1 ge 2"></p>
                <p th:text="1 le 2"></p>
            </li>
            <li>三元运算符
                <p th:text="1 gt 2 ? '真' : '假'"></p>
            </li>
            <li>默认表达式，前者为空就显示后者，前者不为空就显示本身
                <p th:text="null ?: '后者内容'"></p>
                <p th:text="${hero.username} ?: '默认值'"></p>
                <p th:text="${hero.username} != null ? ${hero.username} : '默认值'" alt="效果等同于上一行代码"></p>
            </li>
        </ul>
    </div>
    <hr>
    <!-- 内联写法 -->
    [[${name}]]     <!-- 输出纯字符串内容 -->
    [(${name})]     <!-- 解析html标签输出 -->
    <hr>
    <!-- 局部变量 -->
    <div th:with="heroN = ${allHero[0]}">
        <p th:text="${heroN.username}"></p>
        <p th:text="${heroN.phone}"></p>
    </div>
    <hr>
    <!-- if -->
    <p th:if="${true}">满足条件才显示</p>
    <!-- unless -->
    <p th:unless="${false}">不满足条件时才显示</p>
    <!-- switch -->
    <div th:switch="${hero.username}">
        <p th:case="'gx'">名字[[${hero.username}]]</p>
        <p th:case="'123'">123</p>
        <p th:case="*">都不是</p>
    </div>
    <!-- 迭代 -->
    <div>
    <p th:each="heroItem:${allHero}">
        <span th:text="${heroItem.username}"></span>
        <span th:text="${heroItem.phone}"></span>
        <span th:text="${#dates.format(heroItem.onlinetime,'yyyy-MM-dd')}"></span>
    </p>
    </div>
    <hr>
    <div>
        <p th:each="heroItem,stat:${allHero}">
            <span th:text="${heroItem.username}"></span>
            <span th:text="${heroItem.phone}"></span>
            <span th:text="${stat.index}"></span> <!--当前遍历的角标 从0开始-->
            <span th:text="${stat.count}"></span> <!--当前遍历到第几个 从1开始-->
            <span th:text="${stat.size}"></span> <!--元素的总数-->
            <span th:text="${stat.first}"></span> <!--判断当前是否为第1个元素 是 返回true-->
            <span th:text="${stat.last}"></span> <!--判断当前是否为最后1个元素 是 返回true-->
            <span th:text="${stat.even}"></span> <!--判断当前行是否为偶数行  如果是 true-->
            <span th:text="${stat.odd}"></span> <!--判断当前行是否为奇数行  如果是 true-->
            <span th:text="${stat.odd}"></span> <!--判断当前行是否为奇数行  如果是 true-->
            <span th:text="${stat.current}"></span> <!--当前遍历出的 对象信息-->
        </p>
    </div>
</body>
</html>