<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyHello</title>
</head>
<body>
    <h1 th:text="${name}">MyHello</h1>
    <hr>
    <p>
        <ul>
            <li th:text="${hero.id}"></li>
            <li th:text="${hero.username}"></li>
            <li th:text="${hero.phone}"></li>
            <li th:text="${hero.email}"></li>
        </ul>
    </p>
    <hr>
    <p>
        <ul th:object="${hero}">
            <li th:text="*{id}"></li>
            <li th:text="*{username}"></li>
            <li th:text="*{phone}"></li>
            <li th:text="*{email}"></li>
        </ul>
    </p>
    <hr>
    <p>
        <a th:href="@{http://qiangssvip.com}">博客</a>
        <img th:src="@{/logo.png}">
    </p>
    <hr>
    <p>
        <a th:href="@{/hello(id=1,action='gx')}">跳转传参</a>
    </p>
</body>
</html>